//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 25 09:25:12 2026
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

